

.main_content {
    padding: 40px;
    background-color: rgb(242, 237, 237);
}

.content_top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: white;
    align-items: center;
    height: 100px;
    padding-left: 10px;
}

.top-weight-pair {
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-weight-pair:not(:last-child) {
    border-right: 3px solid #ddd;
    padding-right: 5px;
}

.top-title {
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

.weight {
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.kg {
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

.content_under {
    margin-top: 20px;
    background-color: white;
}

.content_under-inner {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form select,
form button {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form select {
    width: 200px;
}

form button {
    width: 90px;
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #a5a2a2;
}

.add-button {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-image: url("../pigly.back_ground_color.jpg");
    border: none;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    transition: 0.3s;
}

.add-button:hover {
    background-color: rgb(138, 97, 131);
}

.search-form {
    display: flex;
    gap: 10px;
    width: 100%;
}

.search-button {
    margin-right: auto;
}

.add-button {
    margin-left: auto;
}

.table-header th {
    border-bottom: 2px solid #b56e9e;
    padding: 20px;
}


.table-data td {
    padding: 20px;
}

.pen-icon {
    width: 30px;
    height: 30px;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
}

ul.pagination{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 0 auto;
}